.container p{
    color: blue;
}
.container > .child{
    color: green;
}
h2+p{
    color: red;
}
.far-sibling-example ~ .end{
    color: rgb(164, 16, 164);
}
.container span{
    background-color: yellow;
}
